// out: ../main.css, compress: true, sourceMap: false, autoprefixer: last 5 versions, groupmedia: true
@import "_reset.scss";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* == MOBILE REBOOT == */
*,
*::before,
*::after {
  box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  margin: 1.625rem 0;
  color: inherit;
  border: 0;
  border-bottom: 1px solid var(--s-border);
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}
address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}
blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
pre,
code,
kbd,
samp {
  font-family: monospace;
  font-size: 1em;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}
figure {
  margin: 0 0 1rem;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: var(--s-border);
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
  max-width: 100%;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
  max-width: 100%;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-height: 100vh;
  background-color: #000;
}
body {
  margin: 0;
  font-family: var(--s-body);
  font-size: 16px;
  font-weight: normal;
  line-height: var(--s-body-line-height);
  color: var(--s-text);
  text-align: left;
  background-color: var(--s-bg);
  text-rendering: optimizeLegibility;
  min-height: 100vh;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0 0 0.75rem;
  font-family: var(--s-heading);
  font-weight: var(--s-heading-weight);
  line-height: var(--s-heading-line-height);
}
h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.375em;
}
h4 {
  font-size: 1.125em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
nav,
button,
.menu,
._heading,
.btn,
.button,
blockquote {
  font-family: var(--s-heading);
  font-weight: var(--s-heading-weight);
}
p {
  padding: 0;
  margin: 0 0 1em;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1em;
}
ol,
ul {
  ol,
  ul {
    margin-bottom: 0;
  }
}
dt {
  font-weight: 700;
}
a {
  color: var(--s-accent);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  transition: opacity 0.3s, color 0.3s;
  &:hover {
    color: var(--s-accent-hover);
  }
  &:active {
    opacity: 0.6;
  }
}

/* == INI == */
ol {
  padding-left: 1.6em;
  text-indent: 0;
  margin: 0 0 1.5em;
}
ul {
  padding-left: 1.5em;
  text-indent: 0;
  margin: 0 0 1.5em;
}
body,
input,
textarea,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga1" on;
}
body,
html {
  width: 100%;
  overflow-x: hidden;
}
h2,
h3,
h4 {
  label {
    font-weight: inherit;
  }
}
form,
.clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
button:focus,
input:focus,
textarea:focus,
*:focus {
  outline: 0 !important;
}
input[type="text"],
input[type="search"],
.input,
.input-text {
  border: 1px solid var(--s-border);
  border-radius: var(--s-border-radius);
  padding: 4px 6px;
  display: block;
  width: 100%;
  transition: 0.2s border-color ease-in-out;
  font-size: 16px;
  font-family: var(--s-heading);
  font-weight: var(--s-heading-weight);
  &:focus {
    border-color: var(--s-accent-hover);
  }
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000;
}
blockquote {
  text-align: left;
  font-size: 1.25em;
  line-height: 1.6;
  padding: 0 0 0 23px;
  border-left: 3px solid #262828;
  margin: 1.6em 0;
  ol,
  ul,
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
  cite {
    font-size: 0.8em;
  }
}

// CSS VARIABLES
:root {
    --s-accent: #0f6b4e;
    --s-accent-hover: #03a572;
    --s-bg: #fff;
    --s-text: #222;
    --s-line: #dcdfe5;
    --s-noti: #c00;
    --s-border: #7e8993;
    --s-border-radius: 0px;
    --s-shadow: none;
    --s-box-padding: 0px;
    --s-heading: "Anuphan", sans-serif; // Try: Maledpan
    --s-heading-weight: 500;
    --s-heading-line-height: 1.3;
    --s-body: "Sarabun", sans-serif;
    --s-body-line-height: 1.625;
    --s-space: 16px;
    --s-header-height: 50px;
    --s-footer-height: 40px;
    --s-title-size: 1.5rem;
    --s-title-height: 120px;
    --s-title-bg-blur: 20px;
    --s-title-bg-opacity: 0.7;
  }

  //Spacing
.-pt1{
  padding-top:10px;
}
.-pt2{
  padding-top:20px;
}
.-pt3{
  padding-top:30px;
}
.-pt4{
  padding-top:40px;
}
.-pt5{
  padding-top:50px;
}
.-pt6{
  padding-top:60px;
}
.-pt7{
  padding-top:70px;
}
.-pt8{
  padding-top:80px;
}
.-pt9{
  padding-top:90px;
}
.-pt10{
  padding-top:100px;
}
.-pb1{
  padding-bottom:10px;
}
.-pb2{
  padding-bottom:20px;
}
.-pb3{
  padding-bottom:30px;
}
.-pb4{
  padding-bottom:40px;
}
.-pb5{
  padding-bottom:50px;
}
.-pb6{
  padding-bottom:60px;
}
.-pb7{
  padding-bottom:70px;
}
.-pb8{
  padding-bottom:80px;
}
.-pb9{
  padding-bottom:90px;
}
.-pb10{
  padding-bottom:100px;
}
.-py1{
  padding:10px 0;
}
.-py2{
  padding:20px 0;
}
.-py3{
  padding:30px 0;
}
.-py4{
  padding:40px 0;
}
.-py5{
  padding:50px 0;
}
.-py6{
  padding:60px 0;
}
.-py7{
  padding:70px 0;
}
.-py8{
  padding:80px 0;
}
.-py9{
  padding:90px 0;
}
.-py10{
  padding:100px 0;
}
.-px1{
  padding:0 10px;
}
.-px2{
  padding:0 20px;
}
.-px3{
  padding:0 30px;
}
.-px4{
  padding:0 40px;
}
.-px5{
  padding:0 50px;
}
.-px6{
  padding:0 60px;
}
.-px7{
  padding:0 70px;
}
.-px8{
  padding:0 80px;
}
.-px9{
  padding:0 90px;
}
.-px10{
  padding:0 100px;
}
.pa1{
  padding:10px;
}
.pa2{
  padding:20px;
}
.pa3{
  padding:30px;
}
.pa4{
  padding:40px;
}
.pa5{
  padding:50px;
}
.pa6{
  padding:60px;
}
.pa7{
  padding:70px;
}
.pa8{
  padding:80px;
}
.pa9{
  padding:90px;
}
.pa10{
  padding:100px;
}
//sdfa
.-mt1{
  margin-top:10px;
}
.-mt2{
  margin-top:20px;
}
.-mt3{
  margin-top:30px;
}
.-mt4{
  margin-top:40px;
}
.-mt5{
  margin-top:50px;
}
.-mt6{
  margin-top:60px;
}
.-mt7{
  margin-top:70px;
}
.-mt8{
  margin-top:80px;
}
.-mt9{
  margin-top:90px;
}
.-mt10{
  margin-top:100px;
}
.-mb1{
  margin-bottom:10px;
}
.-mb2{
  margin-bottom:20px;
}
.-mb3{
  margin-bottom:30px;
}
.-mb4{
  margin-bottom:40px;
}
.-mb5{
  margin-bottom:50px;
}
.-mb6{
  margin-bottom:60px;
}
.-mb7{
  margin-bottom:70px;
}
.-mb8{
  margin-bottom:80px;
}
.-mb9{
  margin-bottom:90px;
}
.-mb10{
  margin-bottom:100px;
}
.-my1{
  margin:10px 0;
}
.-my2{
  margin:20px 0;
}
.-my3{
  margin:30px 0;
}
.-my4{
  margin:40px 0;
}
.-my5{
  margin:50px 0;
}
.-my6{
  margin:60px 0;
}
.-my7{
  margin:70px 0;
}
.-my8{
  margin:80px 0;
}
.-my9{
  margin:90px 0;
}

.-my10{
  margin:100px 0;
}
.-mx1{
  margin:0 10px;
}
.-mx2{
  margin:0 20px;
}
.-mx3{
  margin:0 30px;
}
.-mx4{
  margin:0 40px;
}
.-mx5{
  margin:0 50px;
}
.-mx6{
  margin:0 60px;
}
.-mx7{
  margin:0 70px;
}
.-mx8{
  margin:0 80px;
}
.-mx9{
  margin:0 90px;
}
.-mx10{
  margin:0 100px;
}
.-ma1{
  margin:10px;
}
.-ma2{
  margin:20px;
}
.-ma3{
  margin:30px;
}
.-ma4{
  margin:40px;
}
.-ma5{
  margin:50px;
}
.-ma6{
  margin:60px;
}
.-ma7{
  margin:70px;
}
.-ma8{
  margin:80px;
}
.-ma9{
  margin:90px;
}
.-ma10{
  margin:100px;
}
.-text-center{
  text-align: center;
}
.-row-flex{
  display:flex;
  .-col{
    flex:1;
  }
  
}
.-divider{
  border-top:1px solid #eeeeee;
  font-size:1px;
  margin:20px 0;
}
.s-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--s-space);
  padding-left: var(--s-space);
  width: 100%;
  @media (min-width: 992px) {
    max-width: 990px;
  }
  @media (min-width: 1160px) {
    max-width: 1160px;
  }
}
  .s-grid {
    display: grid;
    grid-gap: var(--s-space);
    margin-bottom: var(--s-space);
    grid-template-columns: minmax(0, 1fr);
    &.-m2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    &.-m3 {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    &::before,
    &::after {
      display: none;
    }
    .s-grid {
      margin-bottom: 0;
    }
    @media (min-width: 992px) {
      grid-gap: var(--s-space);
      margin-bottom: var(--s-space);
      &.-d2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
      &.-d3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
      }
      &.-d4 {
        grid-template-columns: repeat(4, minmax(0, 1fr));
      }
      &.-d5 {
        grid-template-columns: repeat(5, minmax(0, 1fr));
      }
      &.-d6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
      }
    }
  }
  /* Keen Slider */
.slider-area {
  display: flex;
  overflow: hidden;
  position: relative;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  .slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
  }
  &[data-keen-slider-v] {
    flex-wrap: wrap;
  }
  &[data-keen-slider-v] > .slider {
    width: 100%;
  }
  &[data-keen-slider-moves] * {
    pointer-events: none;
  }
}

.slider-area {
  margin: 0 calc(var(--s-space) / -2) var(--s-space);
  padding-bottom: 16px;
  .-center-d & {
    margin-left: 0;
    margin-right: 0;
  }
  .slider {
    display: flex;
    padding: 0 calc(var(--s-space) / 2) calc(var(--s-space) / 2);
    > article {
      flex: 1;
    }
  }
  .content-item {
    flex: 1;
    &.-list {
      display: flex;
    }
    &.-hero {
      display: grid;
      margin: 0;
    }
  }
}
.s-slider {
  position: relative;
  &.-large {
    margin: 0 calc(var(--s-space) * -1) var(--s-space);
    @media (min-width: 992px) {
      margin: 0 0 var(--s-space);
    }
  }
  &.-full {
    margin: 0 calc(var(--s-space) * -1);
    > .slider {
      padding-left: 0;
      padding-right: 0;
    }
    @media (min-width: 768px) {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
    }
  }
  @media (max-width: 991px) {
    &.-center-m {
      margin-left: calc(var(--s-space) * -1);
      margin-right: calc(var(--s-space) * -1);
    }
  }
  &.-dots-in {
    .slider-area {
      padding-bottom: 0;
    }
    .slider {
      padding-bottom: 0;
    }
    .dots {
      bottom: 10px;
    }
    .dot {
      background-color: var(--s-bg);
    }
    .nav > a {
      top: calc(50% - 20px);
      &:before {
        border-color: var(--s-bg);
      }
    }
    .prev {
      left: 10px;
    }
    .next {
      right: 10px;
    }
  }
  .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 20px;
  }
  .dot {
    background-color: var(--s-border);
    display: inline-block;
    margin: 0 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 6px;
    height: 6px;
    opacity: 0.5;
    transition: 0.3s ease;
    &.active {
      width: 18px;
      opacity: 1;
    }
  }
  @media (min-width: 992px) {
    &.-togrid {
      .nav,
      .dots {
        display: none;
      }
      .slider-area {
        padding-bottom: 0;
      }
    }
    .nav {
      font-family: Arial;
      text-align: center;
      > a {
        position: absolute;
        top: calc(50% - 30px);
        height: 40px;
        width: 40px;
        z-index: 10;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          top: calc(50% - 8px);
          left: calc(50% - 8px);
          width: 16px;
          height: 16px;
          border-top: 3px solid var(--s-border);
          border-right: 3px solid var(--s-border);
          border-radius: 2px;
        }
      }
    }
    .prev {
      left: -40px;
      &:before {
        transform: rotate(-135deg) skew(7deg, 7deg);
      }
    }
    .next {
      right: -40px;
      &:before {
        transform: rotate(45deg) skew(7deg, 7deg);
      }
    }
  }
}

.s-modal {
  height: 0;
  max-height: 0;
  overflow: hidden;
  width: 94vw;
  max-width: 750px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  padding: 0;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1100;
  &.-full {
    width: 100vw;
    max-width: 100vw;
    left: 0;
    right: 0;
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  &.-visible {
    opacity: 1;
    height: auto;
    max-height: 94vh;
    pointer-events: auto;
    overflow: auto;
    padding: 10px 20px 8px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &.-full {
      height: 100vh;
      top: 0;

      max-height: 100vh;
      transform: scale(1);
    }
  }
  &-trigger {
    display: inline-block;
  }
  &-bg {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.65);
    transition: opacity 0.3s ease-in-out, height 0.01s 0.3s;
    &.-blacked-out {
      height: 100vh;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }
  &-content {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    padding: 0 16px;
  }
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 26px;
    text-align: center;
    padding: 10px;
    line-height: 22px;
    height: 44px;
    width: 44px;
    z-index: 10;
    color: var(--s-text);
    cursor: pointer;
    &:hover {
      background-color: var(--s-accent);
      color: var(--s-bg);
    }
  }
  &-login {
    max-width: 400px;
    @media (min-width: 992px) {
      max-height: 400px;
    }
  }
  .search-form {
    position: absolute;
    width: 88%;
    top: 160px;
    left: 6%;
    max-width: 100%;
    border-bottom: 3px solid var(--s-accent);
    height: 43px;
    .search-field {
      border: none;
    }
    button {
      color: var(--s-accent);
    }
  }
  @media (min-width: 768px) {
    &-content {
      padding: 0 30px;
    }
    &.-visible {
      padding: 20px 30px 10px;
    }
    .search-form {
      max-width: 350px;
      left: 50%;
      top: 40%;
      transform: translateX(-50%);
    }
  }
}

._space {
  margin-bottom: var(--s-space) !important;
}
._space_0 {
  margin-bottom: 0 !important;
  .slider-area {
    margin-bottom: 0 !important;
  }
}
._scroll {
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
}
@media (max-width: 991px) {
  ._desktop {
    display: none !important;
  }
}
@media (min-width: 992px) {
  ._mobile {
    display: none !important;
  }
}
  .content-headline {
    background: var(--s-bg);
    color: var(--s-text);
    position: relative;
  
    a {
      color: var(--s-text);
      display: block;
      height: 100%;
    }
  
    &.-bright {
      .pic {
        img {
          opacity: 1;
        }
      }
    }
  
    &.-notitle {
      .info {
        display: none;
      }
    }
  
    .pic {
      height: 100%;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        max-height: 500px;
        opacity: 0.7;
      }
    }
  
    .info {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);
      transition: 0.5s ease-in-out;
  
      h2 {
        margin: 0;
      }
  
      h3 {
        font-size: 0.8em;
        margin: 8px 0 0;
      }
  
      @media (min-width: 768px) {
        font-size: 30px;
      }
    }
  }
  ._space_0 {
    margin-bottom: 0 !important;
    .slider-area {
      margin-bottom: 0 !important;
    }
  }
  
    